<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akodiakson.udacity.portfolio">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- TODO - Remove for prod build. Needed only for Leak Canary. -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- Needed to verify connectivity before calling Spotify API -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PortfolioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">
        <activity
            android:name=".activity.ArtistSearchActivity"
            android:label="@string/title_activity_artist_search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TopTracksActivity"
            android:label="@string/title_activity_artist_top_tracks"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ArtistSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akodiakson.udacity.portfolio.activity.ArtistSearchActivity" />
        </activity>
        <activity
            android:name=".activity.PlaybackActivity"
            android:label="@string/title_activity_playback"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.TopTracksActivity"
            android:theme="@style/MyDialogTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TopTracksActivity" />
        </activity>

        <service
            android:name=".service.SpotifyPlayerService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
